<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Todo App</title>
</head>
<body>
    
    <div class="table-container">
        <h2 class="todo-title">Todo List</h2>
    </div>

    <div>
        <a href="" class="btn">Add Todo</a>
    </div>

    <br/>

    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Action</th>

        </tr>

        <tr>
            <th>todo title</th>
            <th>todo description</th>
            <th>created time</th>
            <th>updated time</th>
            <th>
                <a href="" class="btn">Edit</a>
                <a href="" class="btn">Delete</a>
            </th>

        </tr>
    </table>



</body>
</html>